<ion-header>
  <ion-navbar color="royal">
      <ion-title> </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
  </ion-header>


<ion-content>
  <br>
 <div *ngIf="trans_type=='Seed Distributor'">
   <!-- NAFCO selling seeds to farmer -->
  <!-- <form [formGroup]="transact_form"> -->
  <ion-list>
      <ion-item color="lighter" > 
          <ion-icon color="dark" name="contact" item-left></ion-icon>{{reciever}}
        </ion-item>
        <ion-item color="lighter" > 
            <ion-icon color="dark" name="leaf" item-left></ion-icon>{{farm_name}}
          </ion-item>
        <br>
      <ion-item>
          <ion-label>Product / Seed</ion-label>
          <ion-select (ionChange)="get_seed()" [(ngModel)]="product_id">
              <ion-option [value]="item.Category_ID" *ngFor="let item of seeds">{{item.Category_Name}}</ion-option>
          </ion-select>
       </ion-item>

       
         
          <ion-input type="hidden" [(ngModel)]="get_seed_name"></ion-input>
        
        
        <ion-item>
            <ion-label floating>Unit Weight <strong>{{measure}}</strong></ion-label>
            <ion-input type="text" [(ngModel)]="get_unit_weight"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Unit Price</ion-label>
              <ion-input type="text" [(ngModel)]="get_unit_price" readonly  ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Quantity</ion-label>
                <ion-input type="number" (ionChange)="getInstantTotal()"  [(ngModel)]="quantity" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating>Total</ion-label>
                  <ion-input type="text" [(ngModel)]="total" readonly></ion-input>
                </ion-item>
  </ion-list>

  <div align="center" padding>
      <button full large icon-left ion-button color="secondary" (click)="transaction()">
          <ion-icon name="arrow-dropright"></ion-icon>
        Submit
      </button>
      
    </div>
  </div>



  <div *ngIf="trans_type=='LBC'&& nafco!='NAFCO'">
<!-- Farmer selling to lbc -->
      <ion-list>
          <ion-item color="lighter" > 
              <ion-icon color="dark" name="contact" item-left></ion-icon>{{reciever}}
            </ion-item>
            <ion-item color="lighter" > 
                <ion-icon color="dark" name="leaf" item-left></ion-icon>{{farm_name}}
              </ion-item>
            <br>
          <ion-item>
              <ion-label>Product / Seed</ion-label>
              <ion-select (ionChange)="get_seed()" [(ngModel)]="product_id">
                  <ion-option [value]="item.Category_ID" *ngFor="let item of seeds">{{item.Category_Name}}</ion-option>
              </ion-select>
           </ion-item>
    
           
             
              <ion-input type="hidden" [(ngModel)]="get_seed_name"></ion-input>
            
            
            <ion-item>
                <ion-label floating>Unit Weight <strong>{{measure}}</strong></ion-label>
                <ion-input type="text" [(ngModel)]="get_unit_weight" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Unit Price</ion-label>
                  <ion-input type="text" [(ngModel)]="get_unit_price" readonly  ></ion-input>
                </ion-item>
    
                <ion-item>
                    <ion-label floating>Quantity</ion-label>
                    <ion-input type="number" (ionChange)="getInstantTotal()"  [(ngModel)]="quantity" ></ion-input>
                  </ion-item>
    
                  <ion-item>
                      <ion-label floating>Total</ion-label>
                      <ion-input type="text" [(ngModel)]="total" readonly></ion-input>
                    </ion-item>
      </ion-list>
    
      <div align="center" padding>
          <button full large icon-left ion-button color="secondary" (click)="transaction()">
              <ion-icon name="arrow-dropright"></ion-icon>
            Submit
          </button>
          
        </div>
   
  </div>


  <div *ngIf="trans_type=='LBC' && nafco=='NAFCO'">
      <!-- LBC selling to NAFCO -->
            <ion-list>
                <ion-item color="lighter" > 
                    <ion-icon color="dark" name="contact" item-left></ion-icon>{{reciever}}
                  </ion-item>
                  <ion-item color="lighter" > 
                      <ion-icon color="dark" name="leaf" item-left></ion-icon>{{farm_name}}
                    </ion-item>
                  <br>

                  <ion-item>
                      <ion-label>NAFCO Warehouse</ion-label>
                      <ion-select (ionChange)="get_nafco_region()" [(ngModel)]="nafco_region_id">
                          <ion-option [value]="item.Region_ID" *ngFor="let item of nafco_region">{{item.Warehouse_Name}}</ion-option>
                      </ion-select>
                   </ion-item>
                   <br>

                <ion-item>
                    <ion-label>Product</ion-label>
                    <ion-select (ionChange)="get_seed()" [(ngModel)]="product_id">
                        <ion-option [value]="item.Category_ID" *ngFor="let item of seeds">{{item.Category_Name}}</ion-option>
                    </ion-select>
                 </ion-item>
          
                 
                   
                    <ion-input type="hidden" [(ngModel)]="get_warehouse_name"></ion-input>
                  
                  
                  <ion-item>
                      <ion-label floating>Unit Weight <strong>{{measure}}</strong></ion-label>
                      <ion-input type="text" [(ngModel)]="get_unit_weight" readonly></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Unit Price</ion-label>
                        <ion-input type="text" [(ngModel)]="get_unit_price" readonly  ></ion-input>
                      </ion-item>
          
                      <ion-item>
                          <ion-label floating>Quantity</ion-label>
                          <ion-input type="number" (ionChange)="getInstantTotal()"  [(ngModel)]="quantity" ></ion-input>
                        </ion-item>
          
                        <ion-item>
                            <ion-label floating>Total</ion-label>
                            <ion-input type="text" [(ngModel)]="total" readonly></ion-input>
                          </ion-item>
            </ion-list>
          
            <div *ngIf="nafco!='NAFCO'"  align="center" padding>
                <button full large icon-left ion-button color="secondary" (click)="transaction()">
                    <ion-icon name="arrow-dropright"></ion-icon>
                  Submit
                </button>
                
              </div>

              <div *ngIf="nafco=='NAFCO'" align="center" padding>
                <button full large icon-left ion-button color="secondary" (click)="transaction_nafco()">
                    <ion-icon name="arrow-dropright"></ion-icon>
                   Submit
                </button>
                
              </div>
         
        </div>
  <!-- </form> -->
    
</ion-content>
